@mixin reset-input {
    appearance: none;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 0;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: normal;
    text-align: normal;
}

@mixin flex-space-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
